body{
    margin : 0;
    margin-top : 20px;
    padding-top: 60px;
    padding-left: 100px;
    padding-bottom: 1000px;
    padding-right : 24px;
    background-color: rgb(238, 238, 238);
}
*{
margin-top: 0;
margin-bottom: 0;
font-family: Roboto,Arial;
}
.search-box{
    font-size: 20px;
    display : block;
}
.page-grid{
    display : grid;
    grid-template-columns : 1fr 1fr 1fr;
    row-gap : 40px; 
    column-gap: 15px;
}
/*responsive design - disign for multiple screen size*/
/*media query - bunch of css only work for on the particular screen size*/
@media (max-width : 750px){
    .page-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media((min-width:751px) and(max-width:999px)){
    .page-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media(min-width : 1000px){
    .page-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}



.thumbnail{
    width : 100%;
    /*object fit
        contain
        cover
        object position :   
    */
    /*border : widht style color;*/
}
.box1{
    position:relative;
}
.time{
    background-color: black;
    font-size: 10px;
    color:white;
    padding: 4px;
    position: absolute;
    right:10px;
    bottom:10px;
    font-weight: 500;
    border-radius:2px;
}
.title{
    width : 200px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
}
.channel-name,.stats{
    font-size : 12px;
    color : rgb(96,96,96);
}
.channel-name{
    margin-bottom: 4px;
}

.box2{
    margin-top : 10px;
    display : grid;
    grid-template-columns : 50px 1fr;
}
.channel-logo{
    width : 75%;
    border-radius: 50%;
}