.sidebar{
    width : 80px;
    position : fixed;
    top :58px;
    bottom :0;
    left : 0;
    display : flex;
    flex-direction: column; 
    align-items: center;
    z-index : 1000;
    background-color: white;;
}
.side-bar-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width : 100%;
    font-size: 10px;
    font-weight: 500;
    height : 74px;
    transition: all 0.15s;
}
.side-bar-div:hover{
    background-color: rgb(232, 229, 229);
}
.s1{
    width : 30%;
}